.secao {
    display: grid;
    row-gap: 2rem;
    align-items: end;
}

.secao-horizontal,
.secao-vertical {
    grid-template-rows: 70px auto;
}

.secao-horizontal .secao__cartoes {
    gap: 1.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(80%/2, max(350px, 80%/3)), 1fr));
}

.secao-vertical {
    grid-template-columns: 1fr auto;
}